h1 {
    text-align : center;
    color : #38598b
}

h2 {
    color : #a2a8d3
}

h3 {
    color : #113f67
}

h4 {
    color : #113f67
}

h5 {
    color : #113f67
}

ul {
    color: #113f67
}

hr {
    color: #113f67
}

p {
    color: #113f67
}

html {
    background-color: #e7eaf6
}

